* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(109deg, darkred, black);
}
.hub.navline {
    display: flex;
    align-items: center;
    padding: 5%;
    padding-top: 2vh;
    padding-bottom: 20vh;
}
.hub.homelogo.link {
    width: 4%;
}
.hub.homelogo.image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.hub.title {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    padding-left: 1%;
}
.hub.nav.element {
    color: white;
    font-weight: 100;
    font-size: 1.3em;
    padding-left: 5%;
}
.hub.nav.element.first {
    padding-left: 11%;
}
.hub.descriptionline {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 100%;
    padding: 5%;
    padding-top: 2vh;
    padding-bottom: 20vh;
}
.hub.maintext_title {
    font-size: 3em;
    padding-left: 25%;
    color: white;
    font-weight: 90;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hub.description {
    font-size: 1em;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2vh;
    color: white;
    font-weight: 80;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





/* wiki styles */
.wiki {
    background: linear-gradient(109deg, darkblue, black);
    width: 100%;
    height: 100vh;
}
    