* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.background p {
    opacity: 0;
}

/* Страница Хаба */
.hubpage {
    background: linear-gradient(109deg, darkred, black);
    width: 100%;
    height: 110vh;
    padding-top: 10vh;
}
.section {
    padding-top: 20vh;
}
.hub.section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr;
}
.hub.navline {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh;

    background: rgba(0, 0, 0, 0.2);
    height: 10vh;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

}
.hublink {
    
    display: flex;
    align-items: center;
    justify-content:center;
}
.mainnav {
    display: flex;
    align-items: center;
    justify-content:left;
}
.hub.homelogo.link {
    width: 60px;
    height: 60px;
    margin-right: 2%;

}
.hub.homelogo.image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.hub.title {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    padding-right: 10%;
}
.hub.nav.element {
    color: white;
    font-weight: 100;
    font-size: 1.3em;
    padding-left: 5%;
}
.hub.descriptionline {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 100%;
    padding: 5%;
    padding-top: 2vh;
    padding-bottom: 20vh;
}
.hub.maintext_title {
    z-index: 10;
    font-size: 3em;
    padding-left: 25%;
    color: white;
    font-weight: 90;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hub.description {
    z-index: 10;
    font-size: 1em;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2vh;
    color: white;
    font-weight: 80;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hub.background {
    background: linear-gradient(109deg,darkred, black);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 120vh;
    top: 0;
}




/* wiki styles */





.wiki.background {
    background: linear-gradient(109deg,darkblue, black);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 120vh;
    top: 0;
    left: 0;
}
.wikipage {
    width: 100%;
    height: 110vh;
    padding-top: 10vh;
    color: white;
    text-decoration: none;
}
.hub.nav.element.first.wiki { 
    padding-left: 19%;
}
.wiki.aside {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 10fr;
    position: fixed;
    height: 80vh;
    width: 20%;
    z-index: 100;
    background: rgb(1, 6, 62);
    border-bottom-right-radius: 20px;
}
.wiki.sidenav.paragraph {
    font-size: 1.7em;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 10%
}
.wiki.aside li {
    padding-left: 10%;
    font-size: 1em;
    padding-bottom: 2%;
    font-style: italic;
}
.wiki.aside a {
    color: white;
}
.wiki.section.one {
    padding: 0;
    display: grid;
    gap: 0;
    width: 68%;
    height: 30vh;
    grid-template-columns: 100%;
    position: relative;
    z-index: 2;
    margin-left: 22%;
    margin-top: 5vh;
    margin-right: 10%;
    background: rgb(6, 6, 63);
    border-radius: 20px;
    justify-content: center;
}
.wiki.section.one h1 {
    padding-left: 25%;
    font-size: 2.5em;
}
.wiki.section.one p {
    padding-left: 10%;
    font-size: 1em;
}





/* history styles */